#!/bin/sh -eu

LOOP=lo0
ETH={{ eth_device }}
NAT=1

ipfw -qf flush

# NAT
ipfw -q nat $NAT config if $ETH

# Rules
alias ADD="ipfw -q add"

ADD 010 allow    all from any to any via $LOOP
ADD 020 deny     ip  from any to any not antispoof in
ADD 030 nat $NAT ip  from any to any via $ETH
ADD 999 allow    all from any to any
